@use "../helpers" as *;

.about{
    border-bottom: var(--border);
    background-color: var(--color-dark-10);
    padding-block:fluid(120, 40);

    &__inner{
        display: grid;
        row-gap: fluid(100,40);
        
    }

    &__header{
        align-items: center;
        display: grid;
        grid-template-columns:auto 1fr;
        grid-template-areas: 
        "icon info"
        "icon txt";
        
        column-gap: fluid(80,20);
        row-gap: rem(30);

        @include laptop{
            row-gap: rem(20);
        }

        @include mobile{
            row-gap: rem(4);
            grid-template-areas: 
            "icon info"
            "txt txt"
            "describ describ";
        }
    }

    &__icon {
        grid-area: icon;
        width: fluid(150,60);
    }

    &__subtitle {
        justify-self: start;

        @include mobile {
            grid-area: info;
        }

    }

    &__title {

        @include mobile {
            
            padding-top: rem(20) ;
            grid-area: txt;
        }
    }

    &__discription{
        @include mobile {
            grid-area: describ;
        }
    }

    &__info {
        display: grid;
        row-gap: rem(16);

        @include laptop {
            row-gap: rem(10);
        }

        @include mobile{
            display: contents;
            
        }
    }



    &__list {

        display: grid;
        background-color: var(--color-dark);
        border-radius: rem(12);
        border: var(--border);

        @include mobile-above {
            grid-template-columns: repeat(3, 1fr);
            padding: rem(20);
        }

        gap: rem(20);

        @include laptop{
            gap: rem(10);
            border-radius: rem(10);
            padding: rem(10);
        }
    }
}