@use "../helpers" as *;

.table-of-contents {
    padding: rem(20);
    border-radius: rem(12);
    background-color: var(--color-dark-10);

    @include laptop {
        padding: rem(18);
        border-radius: rem(10);
    }
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: rem(20);

        @include laptop {
            row-gap: rem(16);
        }
    }
    &__item {
        list-style-type: disc;
        margin-left: 1.5em;
    }
}