@use "../helpers" as *;

.team {
    --personImage: #{rem(60)};

    display: flex;
    padding: rem(10);
    background-color: var(--color-dark-10);
    border-radius: rem(100);

    @include laptop{
        --personImage: #{rem(50)};
        padding: rem(8);
    }

    @include tablet{
        --personImage: #{rem(40)};
     
    }
    

    &__person{
        width: var(--personImage);
        border-radius: 50%;
        border: rem(2) solid var(--color-dark-40);
        background-color: var(--color-dark-15);

        @include laptop{
            border-width: rem(1);
        }

        &:not(:first-child){
            margin-left: calc(var(--personImage) / 4 * -1);
        }
    }
}